<table class="table half">
  <tbody>
    <tr>
      <td>
        <%= render partial: 'rents/rent.html', locals: { copy: false } %>
      </td>
      <td class="divition">
      </td>
      <td>
        <%= render partial: 'rents/rent.html', locals: { copy: true } %>
      </td>
    </tr>
  </tbody>
</table>

